
body{
    margin: 0;
    padding: 0;
}
/* start header */
header{
    width: 100%;
    height: 60px;
    background-color: #00BAFF;
}

nav ul{
    float: left;
    height: 40px;
    display: flex;
    list-style: none;
    align-items: center;
     padding: 0;  
}
nav ul li{
    padding:40px;
}
nav ul li a{
    padding: 0;
 color:#000000;
font-family:"Comic Sans MS";
 font-size:14px;
 font-weight:bold;
 text-decoration:none;
 
}

nav ul li a:hover{
  color:#FFFFFF;

}
#img1{
 height:60px;
width: 55px;
float: right;
margin: 0;
padding: 0;
}
/* end header */


/* start addcourse page */
.courseFrom{
    float: left;
    margin-top: 45px;
    }

    .save{
     width: 180px;
     height: 25px;
     background-color: #198754;
     border-radius: 5px;
     color:white;
    }
    .image2{
    float:left;
    margin-left: 30px;
    padding: 50px;
    width:450px;
    }
    input[type=date]{
        width:175px;
        border-radius: 6px ;
    }
  input[type="text"]{
border-radius: 6px;
  }
    .rest{
        width: 180px;
        height: 25px;
        background-color: #dc3545;
        border-radius: 5px;
    color:white;
    
    }
    
    input[type=textarea]{
        width: 700px;
        border-radius: 6px;
    }
    .courseimage{
        height: 560px;
        margin-top: 40px;
        padding-left: 70px;
    }
    /* end addcourse page */

    /* start add experince page */
    .select{
        width: 175px;
        border-radius: 6px;
    }
    th{
        text-align: left;
    }
td{
    padding-left: 50px;
    padding-bottom: 40px;
}

#Experienceimage{
    height: 440px;
    margin-left: 60px;
}
h1{
    font-family:"Trebuchet MS" ;
}